#main_div {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}

#div {
	display: inline-block;
	position: absolute;
	width: 3px;
	height: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	background-color: blue;
}

#main_svg {
	margin-bottom: -4px;
}